body {
  background-color: lightblue;
  font-size: 16px;
}

h1#site-title {
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px 10px gray;
}

.main-content {
  text-align: center;
}

p {
  color: black;
}

#my-text-area {
  width: 300px;
  height: 150px;
  resize: none;
}
